{% extends "main.html" %}
{% block title %} Create Playlist {% endblock %}
{% block navTitle %} Create Playlist {% endblock %}
{% block navRight %}
    {{ cancelButton("/") }}
{% endblock %}

{% block body %}
    <form action="/create/" method="post">
        <fieldset class="form-group">
            <label>Creator's Email address</label>
            <input name="creator" type="email" class="form-control" id="creatorEmail" placeholder="Enter email">
        </fieldset>
        <fieldset class="form-group">
            <label>Playlist Title</label>
            <input name="title" type="text" class="form-control" id="playlistTitle" placeholder="Enter title" required>
        </fieldset>
        {{ playlist.keyForForm() }}
        {{ submitButton() }}
    </form>
{% endblock body %}