{% macro playlistsStyle() -%}
    <style>
        .snippetEmbed {
            float: left;
            height: 300px;
            width: 400px;
        }

        .snippetPanel {
            width: 900px;
        }
    </style>
{%- endmacro %}


{% macro youtubeThumbnail(videoId, num) -%}
    <img class="preview_thumbnail" src="http://img.youtube.com/vi/{{ videoId }}/{{ num }}.jpg">
{%- endmacro %}


{% macro youtubeEmbed(snpt) -%}
    <iframe
            class="snippetEmbed"
            src="https://www.youtube.com/embed/{{ snpt.videoID }}?start={{ snpt.startTime }}&end={{ snpt.endTime }}&version=3"
            frameborder="0"></iframe>
{%- endmacro %}


{% macro snippet(snpt, editable) -%}
<div class="panel panel-default snippetPanel">
  <div class="panel-heading">
    <h3 class="panel-title snippet-title pull-left">
        <span>{{ snpt.title }}</span>
    </h3>
    <div class="panel-title time-range pull-right">
        startTime:{{ snpt.startTime }}
        endTime: {{ snpt.endTime }}
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
      {{ youtubeEmbed(snpt) }}
      <div class="snippetNotes">{% if snpt.notes %}{{ snpt.notes }}{% endif %}</div>
  </div>
</div>
{%- endmacro %}

{% macro playlist(p) -%}
    <div class="playlist">
    <h2>{{ p.title }}</h2>
        {% for s in p.snippets %}
            {{ snippet(s, false) }}
        {% endfor %}
    </div>
{%- endmacro  %}
{#<a href="/testData/playlist/?{{ p.keyForLink() }}">#}

{% macro playlist_preview(p) -%}
    <div class="playlist_preview">
        <a href="/view/?{{ p.keyForLink() }}">
            <div class="panel panel-default playlist_preview_panel">
              <div class="panel-heading">
                <div class="panel-title pull-left">
                    {{ p.title }}
                </div>
                <div class="panel-title creator pull-right">
                    {{ p.creator }}
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="panel-body">
                  {% for snpt in p.snippets %}
                      {{ youtubeThumbnail(snpt.videoID, snpt.selectedThumbnail) }}
                  {% endfor %}
              </div>
            </div>
        </a>
    </div>
{%- endmacro %}