{% extends "view.html" %}
{% import "playlist.html" as PlaylistTemplate %}
{% block title %} Remove snippets from Playlist {% endblock %}
{% block cssSource %}
    {{ PlaylistTemplate.playlistsStyle() }}
    <style>

    </style>
{% endblock %}

{% block bodyOpen %}
    <form action="/delsnippets/" method="post">
    {{ playlist.keyForForm()|safe }}
{% endblock %}

{% macro submit(class) -%}
<Button type="submit" class="btn btn-danger {{ class }}">
<span class="glyphicon glyphicon-list"></span>Remove Selected Snippets
</Button>
{%- endmacro %}

{% block navRight %}
    {{ cancelButton("/view/?" + playlist.keyForLink()) }}
    {% if playlist.snippets %}{{ submit("navbar-btn pull-right") }}{% endif %}
{% endblock %}


{% block jsSource %}
    <script>
    $(document).ready(function () {
        $(".removeButton").click(function (e) {
            var cb = $(this).children()[0];
            cb.checked = !cb.checked;
            var panel = $(this).parent().parent();
            panel.toggleClass('checkedForRemoval');
            panel.toggleClass('disabled');
            console.log(panel)
        });
    });
    </script>
{% endblock %}

{% block bodyClose %}
    {% if playlist.snippets %}{{ submit("") }}{% endif %}
    </form>
{% endblock %}
